body {
  padding: 24px;
}

.text__area {
  margin-top: 140px;
}

/* .featured {
  height: 310px;
  position: relative;
} */

.icon-warpper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  background-color: #485762;
  padding: 20px;
  box-sizing: border-box;
  height: 60px;
  z-index: 1;
}

/* .back {
  position: absolute;
  top: 30px;
  left: 26px;
  animation: slidedown 0.3s;
  animation-timing-function: ease-out;
  animation-delay: 0.2s;
  animation-fill-mode: both;
}
.count {
  position: absolute;
  top: 30px;
  right: 26px;
  animation: slidedown 0.3s;
  animation-timing-function: ease-out;
  animation-delay: 0.2s;
  animation-fill-mode: both;
} */

/* .text__area {
  position: absolute;
  bottom: 36px;
  left: 24px;
} */

.text__area .title {
  animation: showtext 0.3s;
  animation-timing-function: ease-out;
  animation-delay: 0s;
  animation-fill-mode: both;
}

.text__area .desc {
  animation: showtext 0.3s;
  animation-timing-function: ease-out;
  animation-delay: 0.2s;
  animation-fill-mode: both;
}

.featured .title {
  margin-bottom: 12px;
}

.line {
  width: 38px;
  height: 1px;
  background-color: #ffe6cf;
  margin: 32px 0;
  opacity: 0.5;
  animation: showtext 0.3s;
  animation-timing-function: ease-out;
  animation-delay: 0.4s;
  animation-fill-mode: both;
}

.content {
  animation: showtext 0.3s;
  animation-timing-function: ease-out;
  animation-delay: 0.6s;
  animation-fill-mode: both;
}

sup {
  font-size: 10px;
}
