.line {
  width: 46px;
  height: 1px;
  display: inline-block;
  position: relative;
  top: -7px;
  background-color: #ffe6cf;
  opacity: 0.2;
}

.volume {
  margin-bottom: 85px;
  animation: showtext 0.35s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: both;
}

.text__area {
  margin-top: 90px;
  margin-left: 24px;
  /* animation: showtext 0.35s;
  animation-timing-function: ease-in-out;
  animation-delay: 0.25s; */
}

.tirle {
  animation: showtext 0.35s;
  animation-timing-function: ease-in-out;
  animation-delay: 0.2s;
  animation-fill-mode: both;
}

.text__area h1 {
  margin-bottom: 22px;
}

.desc {
  animation: showtext 0.35s;
  animation-timing-function: ease-in-out;
  animation-delay: 0.4s;
  animation-fill-mode: both;
}

#circle-wrapper {
  position: relative;
  margin-left: 44px;
  margin-top: 42px;
}

@keyframes circleshow {
  from {
    transform: translateX(-86px);
    opacity: 0;
  }

  to {
    transform: translateX(0);
  }
}

.circle {
  width: 246px;
  height: 246px;
  border-radius: 50%;
  position: absolute;
  animation: circleshow 1s;
  animation-timing-function: ease-out;
  animation-fill-mode: both;
}

.circle:nth-child(1) {
  background-color: transparent;
  border: 1px solid rgba(0, 0, 0, 0.3);
  box-sizing: border-box;
  top: 0;
  /* animation-fill-mode: both; */
}

.circle:nth-child(2) {
  background-color: #ffc000;
  left: 82px;
  top: 0;
  animation-delay: 0.4s;
}

.circle:nth-child(3) {
  background-color: #fedd15;
  left: 164px;
  top: 0;
  animation-delay: 0.8s;
}

/* .circle:hover {
  transition: 1s;
  background-color: blue;
  top: -20px;
} */

/* .circle:active {
  background-color: red;
  top: -20px;
} */

#badge {
  background-color: #ffc000;
  width: 56px;
  height: 56px;
  color: #485861;
  padding: 10px;
  font-size: 9px;
  line-height: 11px;
  box-sizing: border-box;
  position: fixed;
  top: 0;
  right: 24px;
  font-weight: bold;
  animation: slidedown 0.5s;
  animation-fill-mode: both;
  animation-delay: 0.5s;
  animation-timing-function: ease-out;
}
