.search {
  margin: 20px;
  position: relative;
}

.search form {
  display: flex;
}

.search form:hover ~ .search-icon {
  opacity: 1;
}

.search-icon {
  position: absolute;
  left: 12px;
  top: 12px;
  opacity: 0.3;
}

.search-field {
  width: 100%;
  flex-shrink: 0;
  transition: 0.5s;
}

.search .search-field:focus {
  width: 100%;
  flex-shrink: initial;
}

.search .search-field:focus ~ .cancel {
  display: block;
}

.cancel {
  flex-shrink: 0;
  margin-left: 20px;
  display: none;
  transition: 0.2s;
}

.text-area {
  margin: 24px;
  margin-top: 124px;
  margin-bottom: 12px;
}

.text-area h1 {
  animation: showtext 0.3s;
  animation-timing-function: ease-out;
  animation-delay: 0s;
  animation-fill-mode: both;
}

.text-area .desc {
  margin-top: 12px;
  animation: showtext 0.3s;
  animation-timing-function: ease-out;
  animation-delay: 0.2s;
  animation-fill-mode: both;
}

.list {
  font-size: 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: 148px;
  grid-column-gap: 17px;
  grid-row-gap: 18px;
  padding: 24px;
}

/* 사진 */
.list .item {
  background-color: red;
  background-size: cover;
  background-position: center;
  border-radius: 5px;
}

.list .item:nth-child(1) {
  background-image: url("img/likes-1.jpg");
  animation: slideleft 0.3s;
  animation-timing-function: ease-out;
  animation-delay: 0s;
  animation-fill-mode: both;
}
.list .item:nth-child(2) {
  background-image: url("img/likes-2.jpg");
  animation: slideleft 0.3s;
  animation-timing-function: ease-out;
  animation-delay: 0.2s;
  animation-fill-mode: both;
}
.list .item:nth-child(3) {
  background-image: url("img/likes-3.jpg");
  animation: slideleft 0.3s;
  animation-timing-function: ease-out;
  animation-delay: 0.4s;
  animation-fill-mode: both;
}
.list .item:nth-child(4) {
  background-image: url("img/likes-4.jpg");
  animation: slideleft 0.3s;
  animation-timing-function: ease-out;
  animation-delay: 0.6s;
  animation-fill-mode: both;
}
.list .item:nth-child(5) {
  background-image: url("img/likes-1.jpg");
  animation: slideleft 0.3s;
  animation-timing-function: ease-out;
  animation-delay: 0.8s;
  animation-fill-mode: both;
}
.list .item:nth-child(6) {
  background-image: url("img/likes-2.jpg");
  animation: slideleft 0.3s;
  animation-timing-function: ease-out;
  animation-delay: 1s;
  animation-fill-mode: both;
}

.item:hover {
  background-size: 130%;
}
